<div class ="container">
    <div class ="row">
      <h3>下記の情報を記載し私達にお勧めのパン屋を教えてください！</h3><br>
      <h3>確認後掲載させて頂きます</h3>
    </div>
    <div class ="row">
      <div>
        <%= form_with(model:@recommend_new, url:recommends_path) do |form| %>
          <div>
            <%= form.label :画像 %>
            <%= form.attachment_field :recommend_image %>
          </div>
          <div>
            <%= form.label :店名 %>
            <%= form.text_field :recommend_shop_name %>
          </div>
          <div>
            <%= form.label :オススメポイント %>
            <%= form.text_area :recommend_shop_profile %>
          <div>
            <%= form.label :ジャンル %>
            <%= form.collection_select(:genre_id,Genre.all, :id, :genre_name) %>
          </div>
          <div>
            <%= form.label :駅 %>
            <%= form.collection_select(:station_id,Station.all, :id, :station_name) %>
          </div>
          </div>
          <div>
            <%= form.label :店舗住所 %>
            <%= form.text_field :recommend_shop_address %>
          </div>
          <div>
            <%= form.label :ホームページ %>
            <%= form.text_field :recommend_shop_homepage %>
          </div>
          <div>
            <%= form.submit :送信する %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>