<div class ="container">
  <div class ="row">
    <h2>ジャンル編集</h2>
    <h2>ジャンル</h2>
      <%= form_with( model: @station, url: admin_station_path, local: true) do |form| %>
        <%= form.text_field :station_name %>
        <%= form.radio_button :station_status, :true %>
        <%= form.label :station_status, "有効", {value: :true, style: "display: inline-block;"} %>
        <%= form.radio_button :station_status, :false %>
        <%= form.label :station_status, "無効", {value: :false, style: "display: inline-block;"} %>
        <%= form.submit :変更を保存する %>
      <% end %>
  </div>
</div>