<div class ="container">
 <div class ="row">
  <%= @user.name %>さんのUser情報編集<br>

  <table class ='table'>
   <tr>
   	<th>UserID</th>
   	<td><%= @user.id %></td>
   </tr>
   <%= form_with(model:@user, url:user_path,local:true) do |form| %>
    <tr>
     <th><%= form.label :名前 %></th>
     <td><%= form.text_field :name%></td>
    </tr>
    <tr>
     <th><%= form.label :メールアドレス %></th>
     <td><%= form.text_field :email %></td>
    <tr>
      <th><%= form.submit :変更を保存する %></th>
    </tr>
   <% end %>
  </table>
  <div><%= link_to "退会する",confirm_path, class: "btn btn-danger" %></div>
 </div>
</div>