<div class ="container">
  <div class ="row">
    <%= @user.name %>さんのUser情報編集<br>
     <tr>
        <td><%= attachment_image_tag @user, :image, :fill, 150, 150 %></td>
      <tr>

    <table class ='table'>
      <%= form_with(model:@user, url:user_path,local:true) do |form| %>
        <tr>
          <th><%= form.label :User画像 %></th>
          <td><%= form.attachment_field :image %></td>
        <tr>
          <th><%= form.label :名前 %></th>
          <td><%= form.text_field :name%></td>
        </tr>
        <tr>
          <th><%= form.label :メールアドレス %></th>
          <td><%= form.text_field :email %></td>
        <tr>
        <tr>
          <th><%= form.label :自己紹介文 %></th>
          <td><%= form.text_area :profile %></td>
        </tr>
        <tr>
          <th><%= form.submit :変更を保存する %></th>
        </tr>
      <% end %>
    </table>
    <div><%= link_to "退会する",confirm_path, class: "btn btn-danger" %></div>
  </div>
</div>