<div class ="container">
  <div class ="row">
    <h2><%= @user.name %>さんの会員情報詳細</h2><br>
  </div>
  <div class ="row">
    <div class ="col-md-3 d-flex align-items-center" style="height: 100vh">
      <%= attachment_image_tag @user, :image, :fill, 150, 150, fallback: "download.png" %>
    </div>
    <div class ="col-md-9 d-flex align-items-center">
      <table class ='table'>
   	  <tr>
   	    <th>名前</th>
   	    <td><%= @user.name %></td>
   	  </tr>
      <% if user = current_user %>
   	  <tr>
   	    <th>メールアドレス</th>
   	    <td><%= @user.email %></td>
    	</tr>
      <% end %>
      <tr>
        <th>自己紹介文</th>
        <td><%= @user.profile %></td>
      </tr>
    </table>
   <% if user = current_user %>
     <%= link_to "編集する", edit_user_path(@user.id),data: { "turbolinks"=> false } %>
   <% end %>
    </div>
  </div>
</div>